/* 라이트 모드 기본 */
:root {
  --color-bg: #f7f7f7;
  --color-text: #111;
  --color-card: #fff;
  --shadow-soft: rgba(0, 0, 0, 0.15);

  --c-btn: #000;
}

/* 다크 모드 */
[data-theme="dark"] {
  --color-bg: #111;
  --color-text: #f5f5f5;
  --color-card: #1a1a1a;
  --shadow-soft: rgba(0, 0, 0, 0.5);

  --c-btn: #fff;
}
