@font-face {
  font-family: "Font01";
  src: url("../fonts/Amelina-Script.woff2") format("woff2"),
    url("../fonts/Amelina-Script.woff") format("woff"),
    url("../fonts/Amelina-Script.ttf") format("truetype");
}
@font-face {
  font-family: "Font02";
  src: url("../fonts/Fair-Prosper.woff2") format("woff2"),
    url("../fonts/Fair-Prosper.woff") format("woff"),
    url("../fonts/Fair-Prosper.ttf") format("truetype");
}
