@use "mixin" as m;

// 헤더
#header {
  @include m.layout;

  .header-box {
    @include m.flex-center;
    margin: 2rem 0;
    .tag {
      display: inline-block;
    }
  }
}

.menu {
  width: 100%;
  z-index: 10;

  .menu-box {
    width: 100%;
    @include m.flex;
    justify-content: end;
    gap: 1rem;
    font-size: 1.2rem;

    @include m.desktop {
      gap: 2rem;
    }

    .menu-title {
      position: relative;
      cursor: pointer;
      @include m.effect;

      &:hover {
        font-weight: 900;
      }
    }
  }
}

.sub-box {
  position: absolute;
  color: inherit;
  left: -2rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  @include m.effect;
  background: #fff;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #00000020;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .sub-title {
    font-weight: 700;
    @include m.effect;
    margin-bottom: 2rem;

    &:hover {
      transform: scale(1.05);
      color: black;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sub-sub {
  margin-top: 1rem;
  font-size: 1rem;

  .sub-sub-a {
    margin-bottom: 0.3rem;
    font-weight: 500;

    & > a:hover {
      font-weight: 700;
      @include m.color;
    }
  }
}
