@use "mixin" as m;
@use "fonts";
// body {
//   background: #242424;
//   overflow-x: hidden;
// }

.modeBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: var(--c-btn);
}

// 최상위 컨테이너
.hero-container {
  width: 100%;
  height: calc(100vh - 7rem);
}

/* 히어로 영역 */
.hero {
  position: relative;
  width: 70vw;
  aspect-ratio: 16 / 11;
  @include m.center;
  top: 45%;
  cursor: pointer;

  @include m.desktop {
    width: 50vw;
    aspect-ratio: 16 / 10;
  }
}

/* 앞쪽 이미지 (원근감) */
.hero .front {
  position: absolute;
  width: 100%;
  aspect-ratio: 16 / 8;
  bottom: 0;
  @include m.flex-center;
  z-index: 3;

  @include m.desktop {
    aspect-ratio: 16 / 7;
  }
}

.hero .front::after {
  content: "";
  position: absolute;
  width: 100%; // 카드 너비
  height: 90%; // 카드 높이
  bottom: 0; // 아래쪽 기준
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  transform-origin: bottom center;
  transform: perspective(700px) rotateX(-15deg); // 사다리꼴/원근 느낌
  z-index: 1; // 이미지보다 뒤
  box-shadow: 1px 1px 20px rgba(50, 50, 50, 0.2);

  @include m.desktop {
    height: 90%; // 카드 높이
    transform: perspective(800px) rotateX(-10deg);
  }
}

/* 텍스트 박스 */
.profile-txt-box {
  position: absolute;
  width: 90%;
  aspect-ratio: 7 / 4.2;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;

  @include m.desktop {
    width: 90%;
    aspect-ratio: 7.5 / 4;
    bottom: 7.5%;
  }
}
.hero.active .profile-txt-box {
  transform: translateX(-50%) translateY(-50%) rotate(5deg);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/* PROFILE 텍스트 */
.profile {
  position: absolute;
  text-align: center;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16.5vw;
  line-height: 1;
  white-space: nowrap;

  @include m.desktop {
    top: -5px;
    font-size: 12vw;
  }
}

.profile::after {
  pointer-events: none;
  position: absolute;
  content: "💛";
  display: block;
  width: 100%;
  left: -62%;
  top: -30%;
  bottom: 0;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 30px #00000010;
  @include m.floating(2.7s);
  transition: transform 0.6s ease;

  @include m.desktop {
    font-size: 12vw;
  }
}

.profile::before {
  pointer-events: none;
  position: absolute;
  content: "💥";
  display: block;
  width: 100%;
  right: -65%;
  top: 50%;
  bottom: 0;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 30px #00000010;
  @include m.floating(2.8s);
  transition: transform 0.6s ease;
}

.hero.active .profile::after {
  animation: none;
  transform: translateX(28%) translateY(75%) rotate(-15deg);
  transition: transform 0.6s ease;
}

.hero.active .profile::before {
  animation: none;
  transform: translateX(-35%) rotate(-15deg);
  transition: transform 0.6s ease;
}

.profile-me {
  font-family: "Font02", cursive;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  padding-top: 1.5rem;

  @include m.desktop {
    padding-top: 2rem;
  }
}
/* 뒷배경 이미지 */
.hero .back {
  opacity: 0.7;
}
.hero .back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 92%;
  bottom: 0;
  background: #fff;
  border-radius: 0 10px 10px 10px;
  z-index: 1;
  @include m.desktop {
    height: 92%;
  }
}

.hero .back::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 15%;
  top: 0;
  background: #fff;
  border-radius: 10px 50px 0 0;
  z-index: 1;

  @include m.desktop {
    height: 10%;
    border-radius: 10px 100px 0 0;
  }
}
